.bottom{
    background-color: #ebf2f9;
    height: 47px;
    padding: 8px 0 0 8px;
    margin: 0;
    overflow: hidden;
}

#multiple-account{
    width: 23px;
    height: 23px;
    padding: 2px;
}
#multiple-account:hover{
    background-color: #d8dfe5;
}

#sign-in{
    width: 193px;
    height: 29px;
    background-color: #00a3ff;
    border: 0;
    border-radius: 4px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    margin: 0 79px;
}
#sign-in:hover{
    background-color: #3cc3f5;
}

#qr-code{
    width: 23px;
    height: 23px;
    padding: 2px;
}
#qr-code:hover{
    background-color:#d8dfe5;
}
