.lower-div{
    background-color: #ebf2f9;
    height: 100px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.row{
    margin: 0;
    padding: 0;
}

#head{
    width: 50px;
    height: 50px;
}