body{
    padding: 0;
    margin: 0;
    border-radius: 12px;
}

.title-div{
    padding: 0;
    margin: 0;
    height: 182px;
    background-color:#3d4fae;
}

.menu-bar{
}

.menu-bar ul{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.menu-bar li{
    padding: 0;
    margin: 10px 10px 0 0;
    list-style-type: none;
    float: right;
}
.menu-bar li img{
    width: 15px;
    height: 15px;
}
#close-button:hover{
    background-color: #fc4a2d;
}

.title{
    width: 200px;
    height: 70px;
    margin: 30px auto;
}
.title span{
    color: white;
    font-size: 55px;
    font-family: Arial;
}
.title img{
    width: 70px;
    height: 70px;
}
.title span{
    line-height: 70px;
    vertical-align: top;
}


