.lower-div{
    background-color: #ebf2f9;
    height: 100px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.img-circle{
    margin: 10px 0 0 20px;
    width: 80px;
    height: 80px;
    float: left;
}

.input-text{
    margin: 10px;
    float: left;
    display: block;
}

.input-text input[type=text]{
    display: block;
    width: 190px;
    height: 27px;
    border: 1px solid #d1d1d1;
}
.input-text input[type=text]:first-of-type{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.input-text input[type=text]:last-of-type{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.input-text input[type=text]:hover{
    border-color: #1583dd;
}

.input-text label{
    margin: 5px 0 0 0;
}
.input-text label:last-of-type{
    float: right;
}
.input-text label span{
    padding: 12px 0 0 8px;
    color: #8d9195;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-text input[type=checkbox]{
    vertical-align: middle;
    width: 18px;
    height: 18px;
    padding: 4px;
    margin: 0 0 0 0;
    -webkit-appearance: none;
    background-color: white;
    background-image: url("../images/check_box.png");
    background-position: -1px -1px;
    background-size: 20px 20px;
}

.accounter-function{
    float: left;
    margin: 14px 0 0 6px;
}


.accounter-function p{
    font-size: 12px;
    color: #4a99e8;
    cursor: pointer;
}
.accounter-function p:hover{
    color: #62b4f7;
}